<div id="clientes" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/clientes/clientes.less</em>, <em>assets/js/pages/clientes/clientes.page.js</em>, and <em>api/controllers/clientes/view-clientes.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
