<div id="confirmed-email" v-cloak>
  <div class="container">
    <h1 class="text-center">Email verificado.</h1>
    <div class="confirmation-message">
      <hr/>
      <p>Felicidades, su cuenta esta completamente habilitada</p>
      <p><a class="btn btn-outline-info" href="/">Inicio.</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
