<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center" v-text="modelo.titulo"></h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center" v-text="modelo.descripcion">.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="Correo electronico" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
          <div class="invalid-feedback" v-if="formErrors.emailAddress" v-text="modelo.errorCorreo"></div>
        </div>
        <p class="text-danger" v-if="cloudError"><small v-html="modelo.errorProceso"></small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block" v-text="modelo.link"></ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login" v-text="modelo.regresoLogin"></a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess"> 
      <p v-text="modelo.exito"></p>
      <hr/>
      <p v-html="modelo.advertenciaEmail"></p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login" v-text="modelo.regresoLogin"></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
