<div id="acerca" v-cloak>

  <h1>Acerca De</h1>
  <p> El desarrollo del sistema Narval se realiza en convenio con la empresa: IMAGO Producciones, el cual consistió en
    desarrollar el software bajo la modalidad a la medida, con una duración de año y medio, divido en tres semestres,
    correspondientes a los cursos de Ingeniería de Sistemas I, II y III; en colaboración con los estudiantes de la
    Universidad Nacional (UNA), de la carrera Ingenieria de Sistemas, bajo el grupo del proyecto #26.</p><br>

  <h4>Los integrantes son:</h4>

  <ul>
    <li>Adrián Chavarría Álvarez</li>
    <li>José Antonio Quesada Espinoza</li>
    <li>Leonardo Arce Mejía</li>
    <li>Erickson López Mejía</li>
  </ul>

  <h4>Por parte de la organización se contó con la colaboración de:</h4>

  <ul>
    <li>Luis Carlos Peralta Rojas</li>
    <li>Frank Delgado Anchia</li>
    <li>Fiorella Mora</li>
  </ul>


  <p> Cabe destacar que el proyecto se desarrolla desde cero, empezando con la definición del alcance y de las
    necesidades,
    para elaborar la herramienta bajo el ciclo de vida del proyecto con un enfoque SCRUM, que permitió el desarrollo
    del
    mismo por etapas en las cuales se contó con la participación activa de los integrantes de la organización.</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
