<div id="inventario" v-cloak>
  <h1>Inventario</h1>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filtro</button>
            <div class="dropdown-menu p-4">
              <form>
                <!--Form del Filtro-->
                <div class="form-group">
                  <label for="busquedaPorID">ID: </label>
                  <input type="text" class="form-control" id="idArt" placeholder="ID del Artículo:" maxlength="4"
                    v-model="l_filtro.id">
                </div>
                <div class="form-group">
                  <label for="busquedaPorNombre">Categoría: </label>
                  <input type="text" name="buscarPorNombre" id="busquedaPorNombre" placeholder="Categoría" maxlength="20"
                    list="listaCategorias" class="form-control" v-model="l_filtro.categoria">
                  <datalist id="listaCategorias">
                    <!--Toma el valor del buscador-->
                    <div v-for="l_categoria in modelo.a_categorias">
                      <option v-bind:value="l_categoria">
                    </div>
                  </datalist>
                </div>
              </form>
            </div>
          </div>
          <input type="text" name="buscarArticulo" id="articulo" placeholder="Buscar" list="listaArticulos" class="form-control"
            v-model="l_buscarArticulo">
          <!--Input de Buscador-->
          <datalist id="listaArticulos">
            <div v-for="l_articulo in modelo.articulos">
              <option v-bind:value="l_articulo.descripcion">
                <!--Toma el valor del buscador-->
            </div>
          </datalist>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5><span class="badge badge-pill badge-warning" v-if="filtroArticulos.length === 0 && l_buscarArticulo !== '' ">
          No se encuentra ningún artículo <button class="btn btn-primary" type="button" @click="verModalAyuda"><i class="fa fa-question"></i></button></span></h5>
      <table v-for="t_Categoria in filtroCategorias" class="table table-striped table-hover table-condensed">
        <!--Filtro para que se muestre solo la informacion requerida-->
        <thead class="thead-light">
          <tr>
            <th v-text="t_Categoria"></th>
          </tr>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Cantidad Libre</th>
            <th>Cantidad Ocupado</th>
            <th>Cantidad Dañado</th>
            <th>Cantidad Total</th>
            <th>Precio</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody v-for="t_articulo in filtroArticulos">
          <tr v-if="t_Categoria == t_articulo.categoria" :class="!t_articulo.activo ?  'text-muted' : ''">
            <td v-text="t_articulo.id"></td>
            <td v-text="t_articulo.descripcion"></td>
            <td v-text="t_articulo.cantidadLibre"></td>
            <td v-text="t_articulo.cantidadUso"></td>
            <td v-text="t_articulo.cantidadDanado"></td>
            <td v-text="t_articulo.cantidadTotal"></td>
            <td>{{t_articulo.precio | formatoMoneda}}</td>
            <td v-if="t_articulo.activo">
              <input type="button" value="Actualizar" class="btn btn-info" @click="verModalActualizar(t_articulo)">
              <input type="button" value="Borrar" class="btn btn-danger" @click="verModalEliminar(t_articulo)">
            </td>
            <td v-else>
              <input type="button" value="Reactivar" class="btn btn-success" @click="activarArticulo(t_articulo)">
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-sm btn-primary btn-block boton boton1" @click="verModalAgregar()">Agregar</button>
    </div>
  </div>
  <!--Modal de agregar-->
  <modal v-if="l_verModalAgregar" id="agregarArticulo">
    <!-- Contenido del modal-->
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarNuevo">&times</button>
      <h2 class="modal-title">Agregando Artículo al Inventario</h2>
    </div>
    <div class="modal-body">
      <!--Ajaxform que permite insertar un nuevo articulo-->
      <ajax-form action="insertarUnArticulo" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="o_articulo"
        :form-errors.sync="formErrors" :form-rules="formRules" @submitted="crearArticulo">
        <div class="row">
          <div class="form-group col">
            <label for="id">ID: </label>
            <input type="text" class="form-control" id="idArtNuevo" v-model.trim="o_articulo.id" placeholder="ID del Artículo"
              maxlength="4" :class="[((formErrors.id || o_articulo.id !== undefined) && !o_articulo.id) || cloudError === 'idRepetido' ? 'is-invalid' : '']">
            <div class="invalid-feedback" v-if="(formErrors.id || o_articulo.id !== undefined) && !o_articulo.id"
              v-text="modelo.l_errorId"></div>
            <div class="invalid-feedback" v-if="cloudError === 'idRepetido'" v-text='modelo.l_errorIdRepetido'></div>
          </div>
          <div class="form-group col">
            <label for="descripcion">Descripción: </label>
            <input type="text" class="form-control" id="descripcionArtNuevo" v-model="o_articulo.descripcion" maxlength="32"
              placeholder="Descripción del Artículo" :class="[(formErrors.descripcion || o_articulo.descripcion !== undefined) && !o_articulo.descripcion ? 'is-invalid' : '']">
            <div class="invalid-feedback" v-text="modelo.l_errorDescripcion"></div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="descripcion">Cantidad Total: </label>
            <input type="number" min="1" max="9999" class="form-control" id="cantidadDanadoArtNuevo" v-model="o_articulo.cantidadTotal"
              placeholder="Cantidad Total" :class="[(formErrors.cantidadTotal || o_articulo.cantidadTotal !== undefined) && !o_articulo.cantidadTotal ? 'is-invalid' : '']">
            <div class="invalid-feedback" v-text="modelo.l_errorCantidadTotal"></div>
          </div>
          <div class="form-group col">
            <label for="precio">Precio: </label>
            <input type="number" min="0" step="1" max="9999" v-bind:value="o_articulo.precio | formatoMoneda" class="form-control"
              id="precioArtNuevo" v-model="o_articulo.precio" placeholder="Precio Artículo Nuevo" :class="[(formErrors.precio || o_articulo.precio !== undefined) && !o_articulo.precio ? 'is-invalid' : '']">
            <div class="invalid-feedback" v-text="modelo.l_errorPrecio"></div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="categoria">Categorías: </label>
            <select v-model="o_articulo.categoria" class="form-control" :class="[(formErrors.categoria || o_articulo.categoria !== undefined) && !o_articulo.categoria ? 'is-invalid' : '']">
              <option v-for="tipos in modelo.a_categorias" v-text="tipos"></option>
            </select>
            <div class="invalid-feedback" v-text="modelo.l_errorCategorias"></div>
          </div>
          <div class="form-group col">
            <label for="unidadMedida">Unidad de medida: </label>
            <select v-model="o_articulo.unidadMedida" class="form-control" :class="[(formErrors.unidadMedida || o_articulo.unidadMedida !== undefined) && !o_articulo.unidadMedida ? 'is-invalid' : '']">
              <option v-for="unidadMedida in modelo.a_unidadMedida" v-text="unidadMedida"></option>
            </select>
            <div class="invalid-feedback" v-text="modelo.l_errorUnidadMedida"></div>
          </div>
        </div>
        <!-- Otros espacios para los articulos electrónicos, incluyendo amperaje y seriales... -->
        <template v-if="o_articulo.categoria === 'Electrónico'">
          <div class="row">
            <div class="form-group col">
              <label for="amperaje">Amperaje:</label>
              <input type="number" name="Amperaje" id="amperaje" min="0" max="999" placeholder="Amperaje del artículo"
                step="0.01" v-model="o_articulo.amperaje" class="form-control">
            </div>
            <div class="form-group col">
              <label for="tipoElectronico">Tipo:</label>
              <select class="form-control" name="Tipo Electrónico" id="tipoElectronico" v-model="o_articulo.tipo">
                <option v-for="tipo in modelo.a_tipos" :value="tipo" v-text="tipo"></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="serialesTotal">Números de serial (separados por coma):</label>
              <input type="text" class="form-control" name="Números de Seriales" id="serialesTotal" placeholder="SN123, SN789, ..."
                v-model="o_articulo.serialesTotal">
            </div>
            <div class="form-group col"></div>
          </div>
        </template>
        <!-- Otros específicos para los articulos cables o truss -->
        <template v-if="o_articulo.categoria === 'Cables' || o_articulo.categoria === 'Truss'">
          <div class="row">
            <div class="form-group col-6">
              <label for="largo">Largo:</label>
              <input type="number" name="Largo" id="largo" class="form-control" placeholder="Largo en metros" min="0"
                max="9999" step="1" v-model="o_articulo.largo">
            </div>
          </div>
        </template>
        <div class="modal-footer">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Agregar</ajax-button>
          <button type="button" class="btn btn-danger" @click="cerrarNuevo">Cancelar</button>
        </div>
      </ajax-form>
    </div>

  </modal>
  <!--Fin del modal agregar-->
  <!--Aca inicia el modal de actualizar-->
  <modal v-if="l_verModalActualizar" id="verArticulo">
    <!-- Contenido del modal-->
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalActualizar">&times</button>
      <h2 class="modal-title">Actualizar Artículo del Inventario</h2>
    </div>
    <div class="modal-body">
      <!--AjaxForm que permite actualizar el articulo-->
      <ajax-form action="actualizarUnArticulo" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="o_articulo"
        :form-errors.sync="formErrors" :form-rules="formRules" @submitted="actualizarUnArticulo">
        <div class="row">
          <div class="form-group col">
            <label for="id">ID: </label>
            <input type="text" class="form-control" id="id" :value="o_articulo.id" v-model="o_articulo.id" readonly>
          </div>
          <div class="form-group col">
            <label for="descripcion">Descripción: </label>
            <input type="text" class="form-control" id="descripcionArtNuevo" :value="o_articulo.descripcion" v-model="o_articulo.descripcion"
              maxlength="32" :class="[(formErrors.descripcion || o_articulo.descripcion !== undefined) && !o_articulo.descripcion ? 'is-invalid' : '']">
            <div class="invalid-feedback" v-text="modelo.l_errorDescripcion"></div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad Libre: </label>
            <input type="text" class="form-control" id="cantidadLibre" :value="o_articulo.cantidadLibre" v-model="o_articulo.cantidadLibre"
              readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadUso">Cantidad Uso: </label>
            <input type="text" class="form-control" id="cantidadUso" :value="o_articulo.cantidadUso" v-model="o_articulo.cantidadUso"
              readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadDanado">Cantidad Dañado: </label>
            <input type="text" class="form-control" id="cantidadDanado" :value="o_articulo.cantidadDanado" v-model="o_articulo.cantidadDanado"
              readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadTotal">Cantidad Total: </label>
            <input type="text" class="form-control" id="cantidadTotalArtNuevo" :value="o_articulo.cantidadTotal"
              v-model="o_articulo.cantidadTotal" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="masDanado">Cuantos más se dañaron</label>
            <input type="number" min="0" :max="_.find(this.modelo.articulos, {id: this.o_articulo.id}).cantidadLibre"
              class="form-control" id="masDanado" v-model="l_masDanado">
          </div>
          <div class="form-group col">
            <label for="masTotal">Cuantos desea añadir</label>
            <input type="number" min="0" max="1000" class="form-control" v-model="l_masArticulos">
          </div>
        </div>
        <div class="row">
          <div class="form-group  col">
            <label for="tipo">Categoría: </label>
            <input type="text" class="form-control" id="tipo" :value="o_articulo.tipo" readonly v-model="o_articulo.categoria">
          </div>
          <div class="form-group col">
            <label for="precio">Precio:</label>
            <input type="number" min="0" step="1" max="9999" class="form-control" id="precio" :value="o_articulo.precio"
              :class="[(formErrors.precio || o_articulo.precio !== undefined) && !o_articulo.precio ? 'is-invalid' : '']"
              v-model="o_articulo.precio">
            <div class="invalid-feedback" v-text="modelo.l_errorPrecio"></div>
          </div>
        </div>
        <!-- Otros espacios para los articulos electrónicos, incluyendo amperaje y seriales... -->
        <template v-if="o_articulo.categoria === 'Electrónico'">
          <div class="row">
            <div class="form-group col">
              <label for="amperaje">Amperaje:</label>
              <input type="number" name="Amperaje" id="amperaje" min="0" max="999" placeholder="Amperaje del artículo"
                step="0.01" v-model="o_articulo.amperaje" class="form-control">
            </div>
            <div class="form-group col">
              <label for="tipoElectronico">Tipo:</label>
              <select class="form-control" name="Tipo Electrónico" id="tipoElectronico" v-model="o_articulo.tipo">
                <option v-for="tipo in modelo.a_tipos" :value="tipo" v-text="tipo"></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="serialesTotal">Números de serial (separados por coma):</label>
              <input type="text" class="form-control" name="Números de Seriales" id="serialesTotal" placeholder="SN123, SN789, ..."
                v-model="o_articulo.serialesTotal">
            </div>
            <div class="form-group col"></div>
          </div>
        </template>
        <!-- Otros específicos para los articulos cables o truss -->
        <template v-if="o_articulo.categoria === 'Cables' || o_articulo.categoria === 'Truss'">
          <div class="row">
            <div class="form-group col-6">
              <label for="largo">Largo:</label>
              <input type="number" name="Largo" id="largo" class="form-control" placeholder="Largo en metros" min="0"
                max="9999" step="1" v-model="o_articulo.largo">
            </div>
          </div>
        </template>
        <div class="modal-footer">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Actualizar</ajax-button>
          <button type="button" class="btn btn-danger" @click="cerrarModalActualizar">Cancelar</button>
        </div>
      </ajax-form>
    </div>
    
  </modal>
  <!--Aca termina  el modal de Actualizar-->
  <!-- Modal de borrar articulo-->
  <modal v-if="l_verModalEliminar" id="verArticulo">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalEliminar">&times</button>
      <h2 class="modal-title" id="AdvertenciaBorrado">¿Está seguro que desea borrar este Artículo?</h2>
    </div>
    <div class="modal-body">
      <!-- Aquí va el contenido del modal -->
      <p class="text-center">Esta acción deshabilitará el objeto por un tiempo de <b>30 días</b>; luego será eliminado definitivamente y no podrá ser utilizado</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="Aceptar" @click="eliminarUnArticulo()">Aceptar</button>
        <button class="btn btn-danger" type="button" id="Borrar" @click="cerrarModalEliminar">Cancelar</button>
      </div>

  </modal>
  <!--Aca termina el modal de eliminar-->

  <!--Aca inicia el modal ayuda-->
  <modal v-if="l_verModalAyuda" id="verAyuda">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalAyuda">&times</button>
      <h2 class="modal-title">Ayuda</h2>
    </div>
    <div class="modal-body">
      <!-- Aquí va el contenido del modal -->
      <p class="text-center">Si no encuentras este artículo; ten encuenta lo siguiente: </p>
      <ul>
        <li>Revisa los filtros si es el correcto o si esta bien escrito</li>
        <li>El buscador utiliza el ID o la descripción para realizar la búsqueda</li>
        <li>El buscador dispara la búsqueda apartir de los 3 primeros caracteres</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-dark" type="button" id="Borrar" @click="cerrarModalAyuda">Cerrar</button>
    </div>
  </modal>
  <!--Aca termina el modal de ayuda-->
</div>

<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
