<div id="usuarios" v-cloak>

  <h1>Usuarios</h1>
  <!--Buscador-->
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" title="Búsqueda" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filtro</button>
            <div class="dropdown-menu p-4">
              <div class="form-group">
                <th>Rol del Usuario:</th>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Administrador" id="rolAdministrador" class="form-check-input" v-model="filtro.administrador">
                <label for="rolAdministrador" class="form-check-label">Administrador</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol TI" id="rolTI" class="form-check-input" v-model="filtro.ti">
                <label for="rolTI" class="form-check-label">TI</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Secretario" id="rolSecretario" class="form-check-input" v-model="filtro.secretario">
                <label for="rolSecretario" class="form-check-label">Secretario</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Vendedor" id="rolVendedor" class="form-check-input" v-model="filtro.vendedor">
                <label for="rolVendedor" class="form-check-label">Vendedor</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Bodega" id="rolBodega" class="form-check-input"v-model="filtro.bodega">
                <label for="rolBodega" class="form-check-label">Bodega</label>
              </div>
            </div>
          </div>
          <input type="text" name="Buscar Usuario" id="usuario" list="listaUsuarios" placeholder="Buscar Usuario" class="form-control" maxlength="42" v-model.trim="busquedaUsuario">
          <datalist id="listaUsuarios">
              <div v-for="usuario in modelo.usuarios">
                <option v-bind:value="usuario.nombre">
              </div>
            </datalist>
          <div class="input-group-append">
            <span class="input-group-text" title="Búsqueda"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Tabla-->
  <h5><span class="badge badge-pill badge-warning" v-if="filtroUsuario.length === 0 && busquedaUsuario !== ''">
      No se encuentra ningún usuario  <button class="btn btn-primary" type="button" @click="modalAyuda()"><i class="fa fa-question"></i></button></span></h5>
  <table class="table table-hover table-striped table-bordered" v-if="filtroUsuario.length != 0">
    <thead class="thead-light">
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
      <th title="Opciones" class="text-center">Opciones</th>
    </thead>
    <tbody>
      <tr v-for="usuario in modelo.usuarios">
        <tr v-for="usuario in filtroUsuario">
        <td v-text="usuario.fullName"></td>
        <td v-text="usuario.emailAddress"></td>
        <td v-text="usuario.rol"></td>
        <td class="text-center">
          <button  class="btn btn-success" title="Editar fila" @click="modalEditar(usuario)"> Editar Rol</button>
          <button v-if="usuario.activo == true" class="btn btn-danger" type="button" id="Deshabilitar" @click="modalDeshabilitar(usuario)" title="Deshabilitar">Deshabilitar</button>
          <button v-if="usuario.activo == false"  class="btn btn-secondary" type="button" id="Deshabilitar" @click="modalHabilitar(usuario)" title="Deshabilitar">Habilitar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pull-left">
   <!-- <button class="btn btn-sm btn-primary btn-block boton boton1" type="button" id="Agregar" @click="modalAgregar()" title="Agregar">Agregar</button> -->
  </div>

  <!--Modal Editar-->
  <modal v-if="verModalEditar" id="modalEditar">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarEditar()">&times</button>
      <h5 class="text-center">Editando Usuario</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <!--Aca iria el ajax-form-->
          <div class="row">
            <div class="form-group col">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" class="form-control" v-model="o_usuario.fullName" readonly>
            </div>
            <div class="form-group col">
                <label for="correo">Correo</label>
                <input type="text" id="correo" class="form-control" v-model="o_usuario.emailAddress" readonly>
              </div>
            </div>
            <div class="row">
              <div class="form-group col">
                <label for="ingresarRol">Rol del Usuario</label><br />
                <select name="Rol" v-model="o_usuario.rol">
                  <option>Administrador</option>
                  <option>Secretario</option>
                  <option>TI</option>
                  <option>Vendedor</option>
                  <option>Bodega</option>
                </select>
              </div>
            </div>
            <!--Aqui cierra el ajax form-->
          </div>
        </div>
        
      </div>
      <div class="modal-footer">
        
        <ajax-form action="actualizaRol" :syncing.sync="syncing" :cloud-error.sync="cloudError"
        :form-data="o_usuario" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="cerrarEditar">
            <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Guardar</ajax-button>
          </ajax-form>
            <input type="button" value="Cancelar" class="btn btn-danger" @click="cerrarEditar()" title="Cancelar">
            
          </div>
  </modal>

  <!--Modal Deshabilitar-->
  <modal v-if="verModalDeshabilitar" id="modalDeshabilitar">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarDeshabilitar()">&times</button>
      <h6 class="text-center" id="AdvertenciaDeshabilitar">¿Está seguro que desea deshabilitar este Usuario?</h6>
    </div>
    <div class="modal-footer">
        <ajax-form action="deshabilitarUsuario" :syncing.sync="syncing" :cloud-error.sync="cloudError"
        :form-data="o_usuario" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="cerrarDeshabilitar">
            <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Aceptar</ajax-button>
          </ajax-form>
              
              <input type="button" value="Cancelar" class="btn btn-danger" @click="cerrarDeshabilitar()" title="Cancelar">
        
      </div>
    
  </modal>
<!--Modal Deshabilitar-->
<modal v-if="verModalHabilitar" id="modalDeshabilitar">
  <div class="modal-header">
    <button type="button" class="close" @click="cerrarHabilitar()">&times</button>
    <h6 class="text-center" id="AdvertenciaDeshabilitar">¿Está seguro que desea habilitar este Usuario?</h6>
  </div>
  <div class="modal-footer">
      <ajax-form action="habilitaUsuario" :syncing.sync="syncing" :cloud-error.sync="cloudError"
      :form-data="o_usuario" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="cerrarHabilitar">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Aceptar</ajax-button>
        </ajax-form>
            
            <input type="button" value="Cancelar" class="btn btn-danger" @click="cerrarHabilitar()" title="Cancelar">
      
    </div>
  
</modal>
  <!--Modal Agregar-->
  

  <!--Modal Ayuda-->
  <modal v-if="verModalAyuda" id="modalAyuda">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarAyuda()">&times</button>
      <h2 class="modal-title">Ayuda</h2>
    </div>
    <div class="modal-body">
      <p class="text-center">Si no encuentras el usuario, revisa los siguientes aspectos: </p>
      <ul>
        <li>Revisa si tus filtros son los correctos o si esta bien escrito.</li>
        <li>El buscador utiliza "Nombre" o "Correo"  para realizar la búsqueda.</li>
        <li>El buscador muestra los resultados desde el primer carácter digitado.</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" id="cancelarAyuda" @click="cerrarAyuda()">Cancelar</button>
    </div>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>