<div id="usuarios" v-cloak>

  <h1>Usuarios</h1>
  <!--Buscador-->
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" title="Búsqueda" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filtros</button>
            <div class="dropdown-menu p-4">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control" placeholder="Nombre del Usuario">
              </div>
              <div class="form-group">
                <label for="correoElectrónico">Correo</label>
                <input type="text" id="correoElectrónico" class="form-control" placeholder="Correo del Usuario">
              </div>
              <div class="form-group">
                  <label for="nombre">Roles:</label>
                </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Administrador" id="rolAdministrador" class="form-check-input">
                <label for="rolAdministrador" class="form-check-label">Administrador</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol TI" id="rolTI" class="form-check-input">
                <label for="rolTI" class="form-check-label">TI</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Secretario" id="rolSecretario" class="form-check-input">
                <label for="rolSecretario" class="form-check-label">Secretario</label>
              </div>
              <div class="form-check mb-2">
                <input type="checkbox" name="rol Vendedor" id="rolVendedor" class="form-check-input">
                <label for="rolVendedor" class="form-check-label">Vendedor</label>
              </div>
              <div class="form-check mb-2">
                  <input type="checkbox" name="rol Bodega" id="rolBodega" class="form-check-input">
                  <label for="rolBodega" class="form-check-label">Bodega</label>
                </div>
            </div>
          </div>
          <input type="text" name="Buscar Usuario" id="usuario" placeholder="Buscar Usuario" class="form-control">
          <div class="input-group-append">
            <span class="input-group-text" title="Búsqueda"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Tabla-->
  <table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
      <th>Seleccionar</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Rol</th>
      <th>Fecha</th>
      <th title="Opciones" class="text-center"><em class="fa fa-cog"></em></th>
    </thead>
    <tbody>
      <tr v-for="usuario in modelo.usuarios">
        <td><input type="checkbox" /></td>
        <td v-text="usuario.nombre"></td>
        <td v-text="usuario.correo"></td>
        <td v-text="usuario.rol"></td>
        <td v-text="usuario.fecha"></td>
        <td class="text-center">
          <button href="" class="btn btn-success" title="Editar fila"><em class="fa fa-pencil" @click="modalEditar(usuario)">Editar</em></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="col-lg-11 my-6 text-center">
    <button class="btn btn-primary" type="button" id="Agregar" @click="modalAgregar()" title="Agregar">Agregar</button>
    <button class="btn btn-danger" type="button" id="deshabilitar" @click="modalDeshabilitar()" title="Deshabilitar">Deshabilitar</button>
  </div>

  <!--Modal Editar-->
  <modal v-if="verModalEditar" id="modalEditar">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarEditar()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    </div>
    <div class="row">
      <div class="col">
        <form action="">
          <h1 class="text-center">Editando Usuario</h1>
          <div class="row">
            <div class="form-group col">
              <label for="nombre">Nombre</label>
              <input type="text" id="nombre" class="form-control" :value="usuario.nombre">
            </div>
            <div class="form-group col">
              <label for="correo">Correo</label>
              <input type="text" id="correo" class="form-control" :value="usuario.correo">
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="ingresarRol">Rol del Usuario</label><br />
              <select name="Rol">
                <option>Administrador</option>
                <option>Secretario</option>
                <option>TI</option>
                <option>Vendedor</option>
                <option>Bodega</option>
              </select>
            </div>
          </div>
          <button type="button" id="Guardar" class="btn btn-primary" @click="cerrarEditar()" title="Guardar">Guardar</button>
          <input type="button" value="Cerrar" class="btn btn-basic" @click="cerrarEditar()" title="Cerrar">
        </form>
      </div>
    </div>
  </modal>

  <!--Modal Deshabilitar-->
  <modal v-if="verModalDeshabilitar" id="modalDeshabilitar">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarDeshabilitar()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    </div>
    <div class="row">
      <div class="col">
        <form action="">
          <h1 class="text-center">Deshabilitando Usuario</h1>
          <div class="row">
            <div class="form-group col">
              <h6 class="modal-title" id="AdvertenciaDeshabilitar">¿Está seguro que desea deshabilitar este Usuario?</h6>
            </div>
          </div>
          <button type="button" id="aceptar" class="btn btn-primary" @click="cerrarDeshabilitar()" title="Aceptar">Aceptar</button>
          <input type="button" value="cerrar" class="btn btn-basic" @click="cerrarDeshabilitar()" title="Cerrar">
        </form>
      </div>
    </div>
  </modal>

  <!--Modal Agregar-->
  <modal v-if="verModalAgregar" id="modalAgregar">
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarAgregar()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    </div>
    <div class="row">
      <div class="col">
        <form action="">
          <h1 class="text-center">Agregando Usuario</h1>
          <div class="row">
            <div class="form-group col">
              <label for="nombre">Nombre</label>
              <input type="nombre" class="form-control" id="ingresarNombre" placeholder="Nombre del Usuario">
            </div>
            <div class="form-group col">
              <label for="correo">Correo</label>
              <input type="correo" class="form-control" id="ingresarCorreo" placeholder="Correo del Usuario">
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="ingresarRol">Rol del Usuario</label><br />
              <select name="Rol">
                <option>Administrador</option>
                <option>Secretario</option>
                <option>TI</option>
                <option>Vendedor</option>
                <option>Bodega</option>
              </select>
            </div>
          </div>
          <button type="button" id="Agregar" class="btn btn-primary" @click="cerrarAgregar()" title="Agregar">Agregar</button>
          <input type="button" value="Cerrar" class="btn btn-basic" @click="cerrarAgregar()" title="Cerrar">
        </form>
      </div>
    </div>
  </modal>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>