<div id="ventas" v-cloak>

  <div class="container">
    <div>
      <h1>Ventas</h1>
    </div>

    <div class="row">
      <div class="col">

      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-7">
            <form action="">
              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Encargado del evento</label>
                <div class="col-sm-5">
                  <label class="col-sm-2 col-form-label"> {{usuario}} </label>
                </div>
              </div>

              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" placeholder="Nombre de la empresa" v-model="txtEmpresa"
                    v-on:focusin="poderVerEmpresas"><br>
                  <div v-for="(empresa, index) in filteredEmpresa" :key="index">
                    <ul v-show="verEmpresa">
                      Nombre: {{empresa.name}} Telefono: {{empresa.telefono}} Correo:
                      {{empresa.correo}}
                    </ul>
                  </div>
                </div>

              </div>

              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Contacto</label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" placeholder="Persona de Contacto" v-model="txtCliente"
                    v-on:focus="poderVer"><br>
                  <div v-for="(Cliente, index) in filteredCliente" :key="index">
                    <ul v-show="verClientes">
                      Nombre: {{Cliente.name}} Telefono: {{Cliente.telefono}} Correo:
                      {{Cliente.correo}}
                    </ul>
                  </div>
                </div>
              </div>

              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Buscar Articulo</label>
                <div class="col-sm-5">
                  <input class="form-control" type="text" v-model="txtArticulo">
                </div>
                <div class="col-sm-5">
                  <button type="button" class="btn btn-primary" v-on:click="poderVerArti">Buscar</button>
                </div>
                <div v-for="(articulo, index) in filteredArticulos" :key="index">
                  <ul v-show="verArticulos">
                    <button type="button" class="btn btn-primary" v-on:click="guardar (articulo)">
                      Nombre: {{articulo.name}} Descripcion: {{articulo.descripcion}}
                    </button>

                  </ul>
                </div>
              </div>

            </form>
          </div>

          <div class="col">
            <form>
              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Fecha del evento</label>
                <div class="col-sm-5">
                  <input class="form-control" type="date"> <br>
                </div>
              </div>

              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Fecha de Montaje</label>
                <div class="col-sm-5">
                  <input class="form-control" type="date"> <br>
                </div>
              </div>

              <div class="form-grup row">
                <label class="col-sm-2 col-form-label">Fin del evento</label>
                <div class="col-sm-5">
                  <input class="form-control" type="date"> <br>
                </div>
              </div>
            </form>

          </div>

        </div>

        <div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Descripcion</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(i , msg) in articulos" :key="msg">
                <th scope="row"> {{msg +1}} </th>
                <td> {{i.name}} </td>
                <td> {{i.descripcion}} </td>
              </tr>

            </tbody>
          </table>
        </div>
        <button type="button" class="btn btn-primary">Guardar peticion</button>
      </div>
      <div class="col">

      </div>
    </div>
  </div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
