<div id="cotizaciones" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/ventas/cotizaciones.less</em>, <em>assets/js/pages/ventas/cotizaciones.page.js</em>, and <em>api/controllers/ventas/view-cotizaciones.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
