<div id="cotizaciones" v-cloak>
  <h1>Cotizaciones</h1>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Filtros</button>
            <div class="dropdown-menu p-4">
              <div class="form-check mb-2">
                <input type="checkbox" name="mis cotizaciones" id="misCotizaciones" class="form-check-input"
                  v-model="l_filtro.misCotizaciones">
                <label for="misCotizaciones" class="form-check-label">Mis Cotizaciones</label>
              </div>
              <div class="form-group">
                <label for="encargado">Encargado:</label>
                <input type="text" id="encargado" class="form-control" placeholder="Nombre Encargado"
                  v-model="l_filtro.encargado.fullName">
              </div>
              <div class="form-group">
                <label for="encargado">Cliente:</label>
                <input type="text" id="cliente" class="form-control" placeholder="Cliente"
                  v-model="l_filtro.cliente.nombre">
              </div>
              <div class="form-group">
                <label>Seleccione un rango de fechas</label><br>
                <label>Fecha de Incio del Evento</label><br>
                <label for="fechaInicio">De la fecha:</label>
                <input type="date" name="Fecha Inicio" id="fechaEvento" class="form-control"
                  v-model="l_filtro.fechaInicioF">
              </div>
              <div class="form-group">
                <label for="fechaMontaje">Hasta la fecha:</label>
                <input type="date" name="Fecha Inicio" id="fechaMontaje" class="form-control"
                  v-model="l_filtro.fechaFinF">
              </div>
            </div>
          </div>
          <input type="text" name="Buscar Cotización" id="cotizacion" placeholder="Buscar Cotización"
            class="form-control" v-model.trim="l_busquedaCotizacion">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5><span class="badge badge-pill badge-warning"
          v-if="filtroCotizacion.length === 0 && l_busquedaCotizacion !== '' ">
          No se encuentra ninguna cotización <button class="btn btn-primary" type="button"
            @click="clickVerModalAyuda"><i class="fa fa-question"></i></button></span></h5>

      <table class="table table-hover table-striped table-bordered" v-if="filtroCotizacion.length != 0">
        <thead class="thead-light">
          <th>Encargado</th>
          <th>Cliente</th>
          <th>Contacto</th>
          <th>Ubicación</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Opciones</th>
        </thead>
        <tbody>

          <tr v-for="cotizacion in filtroCotizacion">
            <td v-text="cotizacion.encargado.fullName"></td>
            <td v-text="cotizacion.cliente.nombre"></td>
            <td v-text="cotizacion.contacto.nombre"></td>
            <td v-text="cotizacion.lugarEvento"></td>
            <td v-text="cotizacion.descripcion"></td>
            <td v-text="cotizacion.estado"></td>
            <td class="text-center">
              <div class="btn-group ">
                <label for="ver" class="btn btn-primary" @click="verEvento(cotizacion)">
                  Ver
                </label>
                <label for="copiar" class="btn btn-success" @click="copiarEvento(cotizacion)">
                  Copiar
                </label>
                <label for="borrar" class="btn btn-danger" @click="cambioEstado(cotizacion)">
                  Cambiar Estado
                </label>
              </div>
            </td>

          </tr>
        </tbody>
      </table>

      <table  v-show="false" id = "tbCoti" class="table table-hover table-striped table-bordered" >
        <thead class="thead-light">
          <th>Encargado</th>
          <th>Cliente</th>
          <th>Contacto</th>
          <th>Ubicacion</th>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Disenno</th>
          <th>Montaje</th>
          <th>Alquiler</th>
          <th>Fecha Evento</th>
          <th>Fecha Fin Evento</th>
        </thead>
        <tbody>

          <tr v-for="cotizacion in filtroCotizacion">
            <td v-text="cotizacion.encargado.fullName"></td>
            <td v-text="cotizacion.cliente.nombre"></td>
            <td v-text="cotizacion.contacto.nombre"></td>
            <td v-text="cotizacion.lugarEvento"></td>
            <td v-text="cotizacion.descripcion"></td>
            <td v-text="cotizacion.estado"></td>
            <td v-text="cotizacion.esDiseno"></td>
            <td v-text="cotizacion.esMontaje"></td>
            <td v-text="cotizacion.esAlquiler"></td>
            <td v-text="new Date(cotizacion.fechaEvento)"> </td>
            <td v-text="new Date(cotizacion.fechaFinEvento)"> </td>
          </tr>
        </tbody>
      </table>

      <label v-if="filtroCotizacion.length != 0" for="guardar" class="btn btn-success" @click="guardar('tbCoti','Cotizacion' )"> Exportar </label>

    </div>
  </div>
  <modal v-if="l_verModal" id="verEvento">
    <div class="row">
      <div class="col">
        <form action="">
          <div class="modal-header">
            <button type="button" class="close" @click="cerrarEvento()">&times</button>
            <h1 class="text-center">Cotización #{{o_cotizacion.id}}</h1>
          </div>
          <div class="row">
            <!-- Cliente del evento -->
            <div class="form-group col">
              <label for="cliente">Cliente</label>
              <input type="text" id="cliente" class="form-control" :value="o_cotizacion.cliente.nombre" readonly>
              <ul>
                <div>
                  <li>
                    <p> Teléfono: {{o_cotizacion.cliente.telefono}}</p>
                  </li>
                  <li>
                    <p> Correo: {{o_cotizacion.cliente.correo}}</p>
                  </li>
                </div>
              </ul>
            </div>
            <!-- Contacto del evento -->
            <div class="form-group col">
              <label for="contacto">Contacto</label>
              <input type="text" id="contacto" class="form-control" :value="o_cotizacion.contacto.nombre" readonly>

              <ul>
                <div>
                  <li>
                    <p> Teléfono: {{o_cotizacion.contacto.telefono}}</p>
                  </li>
                  <li>
                    <p> Correo: {{o_cotizacion.contacto.correo}}</p>
                  </li>
                </div>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label>Tipo de servicio </label>
              <div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" v-if="o_cotizacion.esDiseno" checked readonly>
                    <input type="checkbox" class="form-check-input" v-else readonly>
                    Otros Servicios
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" v-if="o_cotizacion.esMontaje" checked readonly>
                    <input type="checkbox" class="form-check-input" v-else readonly>
                    Servicio de producción
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" v-if="o_cotizacion.esAlquiler" checked readonly>
                    <input type="checkbox" class="form-check-input" v-else readonly>
                    Servicio de alquiler
                  </label>
                </div>

              </div>

            </div>
          </div>
          <div class="row" v-if="o_cotizacion.esMontaje || o_cotizacion.esAlquiler">
            <!-- Fecha del Evento -->
            <div class="form-group col">
              <label for="fechaEvento">Fecha del Evento</label>
              <input type="date" id="fechaEvento" class="form-control" :value="o_cotizacion.fechaEvento" readonly>
            </div>
            <!-- Fecha fin de evento -->
            <div class="form-group col">
              <label for="fechaFin">Fin de Evento</label>
              <input type="date" name="Fecha Fin" id="fechaFin" :value="o_cotizacion.fechaFinEvento"
                class="form-control" readonly>
            </div>
          </div>
          <div class="row" v-if="o_cotizacion.esMontaje">
            <!-- Fecha de Montaje -->
            <div class="form-group col">
              <label for="fechaEvento">Fecha de Montaje</label>
              <input type="date" id="fechaEvento" class="form-control" :value="o_cotizacion.fechaMontaje" readonly>
            </div>
            <!-- Fecha desmontaje -->
            <div class="form-group col">
              <label for="fechaDesmontaje">Fecha Desmontaje</label>
              <input type="date" name="Fecha Desmontaje" id="fechaDesmontaje" :value="o_cotizacion.fechaDesmontaje"
                class="form-control" readonly>
            </div>
          </div>
          <div class="row" v-if="o_cotizacion.esMontaje || o_cotizacion.esDiseno || o_cotizacion.esAlquiler">
            <div class="form-group col">
              <label for="descipcion">Descripción:</label>
              <textarea name="Descripción" id="descripcion" cols="30" rows="3" class="form-control"
                :value="o_cotizacion.descripcion" readonly></textarea>
            </div>
          </div>
          <div class="row" v-if="o_cotizacion.esMontaje || o_cotizacion.esAlquiler">
            <div class="form-group col">
              <table class="table table-bordered table-striped table-hover">
                <thead class="thead-light">
                  <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="material in o_cotizacion.articulos">
                    <td v-text="material.id"></td>
                    <td v-text="material.descripcion"></td>
                    <td v-text="material.cantidad"></td>
                    <td>{{material.precio |formatoMoneda}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" value="Actualizar" @click="btnActualizarCotizacion(o_cotizacion)"
              class="btn btn-primary">
            <input type="button" value="Cancelar" class="btn btn-danger" @click="cerrarEvento()">
          </div>
        </form>
      </div>
    </div>
  </modal>

  <modal v-if="l_modBorrarEvento" id="borrarEvento">
    <div class="row">
      <div class="col">
        <div class="modal-header">
          <button type="button" class="close" @click="cancelarEstado">&times</button>
          <h1>¿Seguro que desea cambiar el estado de la cotización?</h1>
        </div>

        <ajax-form action="actualizarCotizacion" :syncing.sync="syncing" :cloud-error.sync="cloudError"
          :form-data="t_cotizacion" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="confirmarEvento">
          <div class="modal-body">
            <div class="row">

              <div>
                <p>Seleccione el estado de la cotización</p>
              </div>
              <div class="col">
                <select name="chEstado" id="chEstado" v-model="t_cotizacion.estado">
                  <option value="Pendiente">Pendiente</option>
                  <option value="Activo">Activo</option>
                  <option value="Cancelado">Cancelado</option>
                  <option value="Finalizado">Finalizado</option>
                </select>

              </div>



            </div>
            <p v-if="l_verificaEstado == 'Activo' && t_cotizacion.estado == 'Activo'" style="color:red"> ** Recuerde que
              no se puede activar una cotización previamente activa **</p>
            <p v-if="l_verificaEstado == 'Cancelado' && t_cotizacion.estado == 'Activo'" style="color:red"> ** Recuerde
              que no se puede activar una cotización previamente cancelada **</p>
            <p v-if="l_verificaEstado == 'Finalizado' && t_cotizacion.estado == 'Activo'" style="color:red"> ** Recuerde
              que no se puede activar una cotización previamente finalizada **</p>
            <p v-if="l_verificaEstado == 'Cancelado' && t_cotizacion.estado == 'Pendiente'" style="color:red"> **
              Recuerde que no se puede poner pendiente una cotización previamente cancelada **</p>
            <p v-if="l_verificaEstado == 'Cancelado' && t_cotizacion.estado == 'Finalizado'" style="color:red"> **
              Recuerde que no se puede cancelar una cotización previamente finalizada **</p>
            <p v-if="l_verificaEstado == 'Finalizado' && t_cotizacion.estado == 'Pendiente'" style="color:red"> **
              Recuerde que no se puede poner pendiente una cotización previamente finalizada **</p>
            <p v-if="l_verificaEstado == 'Finalizado' && t_cotizacion.estado == 'Cancelado'" style="color:red"> **
              Recuerde que no se puede cancelar una cotización previamente finalizada **</p>
            <p v-if="l_verificaEstado == 'Pendiente' && t_cotizacion.estado == 'Pendiente'" style="color:red"> **
              Recuerde que no se puede poner pendiente una cotización previamente pendiente **</p>
            <p v-if="l_verificaEstado == 'Cancelado' && t_cotizacion.estado == 'Cancelado'" style="color:red"> **
              Recuerde que no se puede cancelar una cotización previamente cancelada **</p>
            <p v-if="l_verificaEstado == 'Finalizado' && t_cotizacion.estado == 'Finalizado'" style="color:red"> **
              Recuerde que no se puede finalizar una cotización previamente finalizada **</p>

            <div class="row" v-if="t_cotizacion.estado == 'Cancelado' || t_cotizacion.estado == 'Finalizado'">
              <textarea name="Comentario" placeholder="Escriba un comentario final de la cotización" id="Comentario"
                cols="30" rows="3" class="form-control" v-model="t_cotizacion.comentario"></textarea>
            </div>
          </div>
          <div class="modal-footer" v-if="t_cotizacion.estado == 'Pendiente'">
            <!--Estado Pendiente-->

            <ajax-button v-if="l_verificaEstado != 'Cancelado' && l_verificaEstado != 'Finalizado'" type="submit"
              :syncing="syncing" class="btn btn-primary">Aceptar</ajax-button>
        </ajax-form>
        <input type="button" value="Cancelar" class="btn btn-danger" @click="cancelarEstado">
      </div>
      <div class="modal-footer" v-if="t_cotizacion.estado == 'Activo'">
        <!--Estado activo-->

        <ajax-form action="reservarUnaCotizacion" :syncing.sync="syncing" :cloud-error.sync="cloudError"
          :form-data="t_cotizacion" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="confirmarEvento">
          <ajax-button v-if="l_verificaEstado == 'Pendiente'" type="submit" :syncing="syncing" class="btn btn-primary">
            Aceptar</ajax-button>
        </ajax-form>
        <input type="button" value="Cancelar" class="btn btn-danger" @click="cancelarEstado">
      </div>
      <div class="modal-footer" v-if="t_cotizacion.estado == 'Cancelado' || t_cotizacion.estado == 'Finalizado'">
        <!--Estado cancelado o finalizado-->

        <ajax-form action="terminarUnaCotizacion" :syncing.sync="syncing" :cloud-error.sync="cloudError"
          :form-data="t_cotizacion" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="confirmarEvento">
          <ajax-button v-if="l_verificaEstado != 'Cancelado' && l_verificaEstado != 'Finalizado'" type="submit"
            :syncing="syncing" class="btn btn-primary">Aceptar</ajax-button>
        </ajax-form>
        <input type="button" value="Cancelar" class="btn btn-danger" @click="cancelarEstado">
      </div>




    </div>
</div>
</modal>

<modal v-if="l_modCopiarEvento" id="copiarEvento">
  <div class="row">
    <div class="col">
      <div class="modal-header">
        <button type="button" class="close" @click="cancelarCopiar">&times</button>
        <h1>¿Seguro que desea copiar la cotización?</h1>
      </div>
      <form action="" readonly>
        <div class="form-row">
          <!-- Encargado del evento -->
          <div class="form-group col">
            <label for="encargado">Encargado</label>
            <input type="text" id="encargado" class="form-control" :value="o_cotizacion.encargado.fullName" readonly>
          </div>
          <!-- Cliente del evento -->
          <div class="form-group col">
            <label for="cliente">Cliente</label>
            <input type="text" id="cliente" class="form-control" :value="o_cotizacion.cliente.nombre" readonly>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="descipcion">Descripción:</label>
            <textarea name="Descripción" id="descripcion" cols="30" rows="3" class="form-control"
              :value="o_cotizacion.descripcion" readonly></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="button" value="Copiar" class="btn btn-primary" @click="pasarVariable(o_cotizacion.id)">
          <input type="button" value="Cancelar" class="btn btn-danger" @click="cancelarCopiar">

        </div>
      </form>
    </div>
  </div>
</modal>
<!--Aca inicia el modal ayuda-->
<modal v-if="l_verModalAyuda" id="verAyuda">
  <div class="modal-header">
    <button type="button" class="close" @click="clickCerrarModalAyuda">&times</button>
    <h2 class="modal-title">Ayuda</h2>
  </div>
  <div class="modal-body">
    <!-- Aquí va el contenido del modal -->
    <p class="text-center">Si no encuentras esta cotización; ten encuenta lo siguiente: </p>
    <ul>
      <li>Revisa los filtros si es el correcto o si esta bien escrito</li>
      <li>El buscador utiliza la Ubicación o la descripción para realizar la búsqueda</li>
      <li>El buscador dispara la búsqueda apartir de los 3 primeros caracteres</li>
      <li>Para ver todas las cotizaciones digite un * en el buscador</li>
      <li>Para ver todas las cotizaciones con el filtro de las fechas digite un '/' en el buscador</li>
      <li>Para ver todas las cotizaciones con el filtro "mis Cotizaciones" digite un '*' en el buscador</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-dark" type="button" id="Borrar" @click="clickCerrarModalAyuda">Cerrar</button>
  </div>
</modal>
<!--Aca termina el modal de ayuda-->
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
