<div id="ventas" v-cloak>

  <div class="text-center">
    <h1>Ventas</h1>
  </div>
  <form action="">
    <div class="col">

      <div class="row">
        <div class="form-group col">
          <label for="usuario">Encargado del evento</label>
          <input id="usuario" class="form-control" type="text" v-bind:value="me.fullName" disabled>
        </div>

        <div class="form-group col">
          <label>Lugar del evento</label>
          <div>
            <input class="form-control" type="text" placeholder="Lugar del evento">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col">
          <label>Cliente</label>
          <div>
            <input class="form-control" type="text" placeholder="Nombre de la empresa" list="listClientes" v-model="txtEmpresa"
              @click="clickVerCliente(modelo.empresas)" />
              <br>
              <input v-if="filteredClientes.length === 0" class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregar()" />
            <datalist id="listClientes">
              <option v-for="empresa in modelo.empresas" :value="empresa.name">
            </datalist>
            <br>
            <ul v-if="filteredClientes.length !== 0" v-for="vEmpresa in filteredClientes">
              <div v-if="filteredClientes.length === 1 && txtEmpresa !== ''">
              <li>
                Teléfono: {{vEmpresa.telefono}}
              </li>
              <li>
                Correo: {{vEmpresa.correo}}
              </li>
            </div>
            </ul>
          </div>

        </div>
        <div class="form-group col">
          <label>Contacto</label>
          <div class="dropdown">
            <input class="form-control" type="text" placeholder="Persona de Contacto" v-model="txtCliente" list="listContactos"
              @click="clickVerContacto(modelo.Clientes)" />
              <br>
              <input v-if="filteredContactos.length === 0" class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregar()" />
            <datalist id="listContactos">
              <option v-for="cont in modelo.Clientes" :label="cont.name" :value="cont.name">
              </option>
            </datalist>
            <br>
            <ul v-if="filteredContactos.length !== 0" v-for="vContacto in filteredContactos">
                <div v-if="filteredContactos.length === 1 && txtCliente !== ''">
              <li>
                Teléfono: {{vContacto.telefono}}
              </li>
              <li>
                Correo: {{vContacto.correo}}
              </li>
            </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label>Tipo de servicio </label>
          <div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio diseño
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de montaje
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de alquiler
              </label>
            </div>
            <br>
            <label class="form-check-label">Descripción de los servicios </label>
            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripción"></textarea>
            <br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fecha del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de montaje</label>
          <input class="form-control" type="date">
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fin del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de desmontaje </label>
          <input id="fecha_actual" class="form-control" type="date">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-5">
          <label class="form-label">Buscar Articulo</label>
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>
                <div class="dropdown-menu p-4">
                    <form>
                      <!--Form del Filtro-->
                      <div class="form-group">
                        <label for="busquedaPorID">ID: </label>
                        <input type="text" class="form-control" id="idArt" placeholder="ID del Artículo:" maxlength="4"
                          v-model="l_filtro.id">
                      </div>
                      <div class="form-group">
                        <label for="busquedaPorNombre">Categoría: </label>
                        <input type="text" name="buscarPorNombre" id="busquedaPorNombre" placeholder="Categoría" maxlength="20"
                          list="listaCategorias" class="form-control" v-model="l_filtro.categoria">
                        <datalist id="listaCategorias">
                          <!--Toma el valor del buscador-->
                          <div v-for="l_categoria in modelo.a_categorias">
                            <option v-bind:value="l_categoria">
                          </div>
                        </datalist>
                      </div>
                    </form>
                  </div>
            </div>
            <input type="text" name="buscarArticulo" id="articulo" placeholder="Buscar Artículo" list="listaArticulos" class="form-control"
            v-model="l_buscarArticulo">
            <!--Input de Buscador-->
          <datalist id="listaArticulos">
              <div v-for="l_articulo in modelo.articulos">
                <option v-bind:value="l_articulo.descripcion">
                  <!--Toma el valor del buscador-->
              </div>
            </datalist>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>

          </div>
          <datalist id="listProductos">
            <div v-for="empresa in modelo.articulos">
              <option v-bind:value="empresa.name">
            </div>
          </datalist>
        </div>
      </div>


      <div class="row">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Cantidad solicitada</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor</th>
              <th> Opciones </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="art in modelo.articulos">
              <td> {{art.id}} </td>
              <td> {{art.name}} </td>
              <td> {{art.descripcion}} </td>
              <td>{{art.cantidadTotal}}</td>
              <td> <input type="number"> </td>
              <td> <input type="number" :value="art.precio"> </td>
              <td> {{art.precio}} </td>
              <td>
                <button type="button" class="btn btn-success" @click="verArticulo(art)">Ver</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
  </form>

  <button type="button" class="btn btn-primary" @click="clickVerModalGuardar()">
    Guardar
  </button>

  <!--- Modal Clientes y Contactos--->
  <modal v-if="l_verModalAgregar" id="modalAgregar">
    
       <div class="modal-header">
          <button type="button" class="close" @click="clickCerrarModalAgregar()">&times</button>
        <h5 class="modal-title" id="exampleModalLabel">Agregando un cliente/contacto</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col">
          <label for="nombre">Nombre: </label>
          <input type="text" class="form-control" id="nomCliNuevo"  placeholder="Digite el nombre">
        </div>
        <div class="form-group col">
          <label for="telefono">Teléfono: </label>
          <input type="tel" pattern="[0-9]{9}" maxlength="8" class="form-control" id="telCliNuevo"  placeholder="Digite el numero telefónico">
        </div>
        <div class="form-group col">
          <label for="email">Email: </label>
          <input type="email" name="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" class="form-control" id="emaCliNuevo"  placeholder="Digite el email">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </modal>
  
  <!-- Modal Guardar-->


  <modal  v-if="VerModalGuardar" id="modalAgregar">
      <div class="modal-header">
          <button type="button" class="close" @click="clickCerrarModalGuardar">&times</button>
        <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar la cotización? </h5>
      </div>
    
    <div class="modal-body">
      <h6>La cotización estará disponible por 30 días; después de este tiempo será borrada del sistema </h6>
      <p>Si se desea hacer cambios sobre esta cotización después de ser guardada, se podrán ver el área "Ver
        Cotizaciones"</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>

  </modal>

  <!-- Modal Ver  -->
  <!-- Aqui inicia el modal ver-->
  <modal v-if="l_verModalVer" id="modalVer">
    <!-- Contenido del modal-->
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalVer">&times</button>
      <h2 class="modal-title">Ver Artículo del Inventario</h2>
    </div>
    <div class="modal-body">
      <!--Form que permite actualizar el articulo-->
      <form>
        <div class="row">
          <div class="form-group col">
            <label for="id">ID: </label>
            <input type="text" class="form-control" id="id" :value="o_articulo.id" v-model="o_articulo.id" readonly>
          </div>
          <div class="form-group col">
            <label for="descripcion">Descripción: </label>
            <input type="text" class="form-control" id="descripcionArticulo" :value="o_articulo.descripcion" v-model="o_articulo.descripcion"
              maxlength="32">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad Libre: </label>
            <input type="text" class="form-control" id="cantidadLibre" :value="o_articulo.cantidadLibre" v-model="o_articulo.cantidadLibre"
              readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadUso">Cantidad Uso: </label>
            <input type="text" class="form-control" id="cantidadUso" :value="o_articulo.cantidadUso" v-model="o_articulo.cantidadUso"
              readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadDanado">Cantidad Dañado: </label>
            <input type="text" class="form-control" id="cantidadDanado" :value="o_articulo.cantidadDanado" v-model="o_articulo.cantidadDanado"
              readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadTotal">Cantidad Total: </label>
            <input type="text" class="form-control" id="cantidadTotalArtNuevo" :value="o_articulo.cantidadTotal"
              v-model="o_articulo.cantidadTotal" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group  col">
            <label for="tipo">Categoría: </label>
            <input type="text" class="form-control" id="tipo" :value="o_articulo.tipo" readonly v-model="o_articulo.categoria">
          </div>
          <div class="form-group col">
            <label for="precio">Precio:</label>
            <input type="number" min="0" step="1" max="9999" class="form-control" id="precio" :value="o_articulo.precio"
              v-model="o_articulo.precio">
          </div>
        </div>
        <!-- Otros espacios para los articulos electrónicos, incluyendo amperaje y seriales... -->
        <template v-if="o_articulo.categoria === 'Electrónico'">
          <div class="row">
            <div class="form-group col">
              <label for="amperaje">Amperaje:</label>
              <input type="number" name="Amperaje" id="amperaje" min="0" max="999" placeholder="Amperaje del artículo"
                step="0.01" v-model="o_articulo.amperaje" class="form-control">
            </div>
            <div class="form-group col">
              <label for="tipoElectronico">Tipo:</label>
              <select class="form-control" name="Tipo Electrónico" id="tipoElectronico" v-model="o_articulo.tipo">
                <option v-for="tipo in modelo.a_tipos" :value="tipo" v-text="tipo"></option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="serialesTotal">Números de serial (separados por coma):</label>
              <input type="text" class="form-control" name="Números de Seriales" id="serialesTotal" placeholder="SN123, SN789, ..."
                v-model="o_articulo.serialesTotal">
            </div>
            <div class="form-group col"></div>
          </div>
        </template>
        <!-- Otros específicos para los articulos cables o truss -->
        <template v-if="o_articulo.categoria === 'Cables' || o_articulo.categoria === 'Truss'">
          <div class="row">
            <div class="form-group col-6">
              <label for="largo">Largo:</label>
              <input type="number" name="Largo" id="largo" class="form-control" placeholder="Largo en metros" min="0"
                max="9999" step="1" v-model="o_articulo.largo">
            </div>
          </div>
        </template>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <button type="button" class="btn btn-danger" @click="cerrarModalVer">Cancelar</button>
        </div>
      </form>
    </div>

  </modal>

   

</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
