<div id="ventas" v-cloak>

  <div class="text-center">
    <h1>Ventas</h1>
  </div>
  <form action="">
    <div class="col">

      <div class="row">
        <div class="form-group col">
          <label for="usuario">Encargado del evento</label>
          <input id="usuario" class="form-control" type="text" value="Nombre" disabled>
          <!--v-bind:value="me.fullName"-->
        </div>

        <div class="form-group col">
          <label>Lugar del evento</label>
          <div>
            <input class="form-control" type="text" placeholder="Lugar del evento">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col">
          <label>Cliente</label>
          <div>
            <input class="form-control" type="text" placeholder="Nombre de la empresa" list="listClientes" v-model="txtEmpresa"
              @click="clickVerCliente(modelo.empresas)" />
            <br>
            <div v-if="filteredClientes.length === 0">
              <h5><span class="badge badge-pill badge-warning">
                  No se encuentra ningún cliente con ese nombre</h5>
              <input class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregar()" />
            </div>

            <datalist id="listClientes">
              <option v-for="empresa in modelo.empresas" :value="empresa.name">
            </datalist>
            <br>
            <ul v-if="filteredClientes.length !== 0" v-for="vEmpresa in filteredClientes">
              <div v-if="filteredClientes.length === 1 && txtEmpresa !== ''">
                <li>
                  Teléfono: {{vEmpresa.telefono}}
                </li>
                <li>
                  Correo: {{vEmpresa.correo}}
                </li>
              </div>
            </ul>
          </div>

        </div>
        <div class="form-group col">
          <label>Contacto</label>
          <div class="dropdown">
            <input class="form-control" type="text" placeholder="Persona de Contacto" v-model="txtCliente" list="listContactos"
              @click="clickVerContacto(modelo.Clientes)" />
            <br>
            <div v-if="filteredContactos.length === 0">
              <h5><span class="badge badge-pill badge-warning">
                  No se encuentra ningún contacto con ese nombre</h5>
              <input class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregar()" />
            </div>
            <datalist id="listContactos">
              <option v-for="cont in modelo.Clientes" :label="cont.name" :value="cont.name">
              </option>
            </datalist>
            <br>
            <ul v-if="filteredContactos.length !== 0" v-for="vContacto in filteredContactos">
              <div v-if="filteredContactos.length === 1 && txtCliente !== ''">
                <li>
                  Teléfono: {{vContacto.telefono}}
                </li>
                <li>
                  Correo: {{vContacto.correo}}
                </li>
              </div>
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label>Tipo de servicio </label>
          <div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio diseño
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de montaje
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de alquiler
              </label>
            </div>
            <br>
            <label class="form-check-label">Descripción de los servicios </label>
            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripción"></textarea>
            <br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fecha del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de montaje</label>
          <input class="form-control" type="date">
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fin del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de desmontaje </label>
          <input id="fecha_actual" class="form-control" type="date">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-5">
          <label class="form-label">Buscar Articulo</label>
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>
              <div class="dropdown-menu p-4">
                <form>
                  <!--Form del Filtro-->
                  <div class="form-group">
                    <label for="busquedaPorID">ID: </label>
                    <input type="text" class="form-control" id="idArt" placeholder="ID del Artículo:" maxlength="4"
                      v-model="l_filtro.id">
                  </div>
                  <div class="form-group">
                    <label for="busquedaPorNombre">Categoría: </label>
                    <input type="text" name="buscarPorNombre" id="busquedaPorNombre" placeholder="Categoría" maxlength="20"
                      list="listaCategorias" class="form-control" v-model="l_filtro.categoria">
                    <datalist id="listaCategorias">
                      <!--Toma el valor del buscador-->
                      <div v-for="l_categoria in modelo.a_categorias">
                        <option v-bind:value="l_categoria">
                      </div>
                    </datalist>
                  </div>
                </form>
              </div>
            </div>
            <input type="text" name="buscarArticulo" id="articulo" placeholder="Buscar Artículo" list="listaArticulos"
              class="form-control" v-model="l_buscarArticulo">
            <!--Input de Buscador-->
            <datalist id="listaArticulos">
              <div v-for="l_articulo in modelo.articulos">
                <option v-bind:value="l_articulo.descripcion">
                  <!--Toma el valor del buscador-->
              </div>
            </datalist>
            <div class="input-group-append">
              <button class="input-group-text"><i class="fa fa-plus"></i></button>
            </div>

          </div>
          <datalist id="listProductos">
            <div v-for="empresa in modelo.articulos">
              <option v-bind:value="empresa.name">
            </div>
          </datalist>
        </div>
      </div>
      <!--Tabla de producto jalados de la base de datos-->
      <div class="row">
        <table class="table" v-if=" filtroArticulos.length > 0 ">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Valor Unitario</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody v-for="t_Categoria in filtroCategorias">
            <tr v-if="t_Categoria == filtroArticulos[0].categoria">
              <td v-text="filtroArticulos[0].id"></td>
              <td v-text="filtroArticulos[0].categoria"></td>
              <td v-text="filtroArticulos[0].descripcion"> </td>
              <td v-text="filtroArticulos[0].cantidadTotal"></td>
              <td v-text="filtroArticulos[0].precio"></td>
              <td><input type="button" value="Agregar" class="btn btn-primary" @click=" agregarArticuloTemp(filtroArticulos[0])">
              </td>
            </tr>
            <tr v-if="filtroArticulos.length > 1&&t_Categoria == filtroArticulos[1].categoria">
              <td v-text="filtroArticulos[1].id"></td>
              <td v-text="filtroArticulos[1].categoria"></td>
              <td v-text="filtroArticulos[1].descripcion"> </td>
              <td v-text="filtroArticulos[1].cantidadTotal"></td>
              <td v-text="filtroArticulos[1].precio"></td>
              <td><input type="button" value="Agregar" class="btn btn-primary" @click=" agregarArticuloTemp(filtroArticulos[1]); ">
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <br>
      <!--Tabla de Productos dentro de los pedidos-->
      <div class="row">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Cantidad solicitada</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor</th>
              <th> Opciones </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="t_articulo in filtroDeTabla">
              <td v-text="t_articulo.id"></td>
              <td v-text="t_articulo.categoria"></td>
              <td v-text="t_articulo.descripcion"> </td>
              <td v-text="t_articulo.cantidadLibre"></td>
              <td v-text="t_articulo.cantidadSolicitada" readonly> </td>
              <td v-text="t_articulo.precio" readonly> </td>
              <td v-text="t_articulo.precioTotal"></td>
              <td>
                <button type="button" class="btn btn-info" @click="verArticulo(t_articulo)">Actualizar Solicitud</button>
                <button type="button" class="btn btn-danger" @click="quitarArticuloTabla(t_articulo)">Eliminar</button>
              </td>
            </tr>

            <tr style=" border: green 5px solid;">
              <td>Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <!-- <td v-text="sumatoria()"></td>-->
            <td v-text="l_sumatoria"></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
  </form>

  <button type="button" class="btn btn-primary" @click="clickVerModalGuardar()">
    Guardar
  </button>

  <!--- Modal Clientes y Contactos--->
  <modal v-if="l_verModalAgregar" id="modalAgregar">

    <div class="modal-header">
      <button type="button" class="close" @click="clickCerrarModalAgregar()">&times</button>
      <h5 class="modal-title" id="exampleModalLabel">Agregando un cliente/contacto</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col">
          <label for="nombre">Nombre: </label>
          <input type="text" class="form-control" id="nomCliNuevo" placeholder="Digite el nombre">
        </div>
        <div class="form-group col">
          <label for="telefono">Teléfono: </label>
          <input type="tel" pattern="[0-9]{9}" maxlength="8" class="form-control" id="telCliNuevo" placeholder="Digite el numero telefónico">
        </div>
        <div class="form-group col">
          <label for="email">Email: </label>
          <input type="email" name="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            class="form-control" id="emaCliNuevo" placeholder="Digite el email">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>
  </modal>

  <!-- Modal Guardar-->


  <modal v-if="VerModalGuardar" id="modalAgregar">
    <div class="modal-header">
      <button type="button" class="close" @click="clickCerrarModalGuardar">&times</button>
      <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar la cotización? </h5>
    </div>

    <div class="modal-body">
      <h6>La cotización estará disponible por 30 días; después de este tiempo será borrada del sistema </h6>
      <p>Si se desea hacer cambios sobre esta cotización después de ser guardada, se podrán ver el área "Ver
        Cotizaciones"</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>

  </modal>

  <!-- Modal Ver  -->
  <!-- Aqui inicia el modal ver-->
  <modal v-if="l_verModalVer" id="modalVer">
    <!-- Contenido del modal-->
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalVer">&times</button>
      <h2 class="modal-title">Ver Artículo del Inventario</h2>
    </div>
    <div class="modal-body">
      <!--Form que permite actualizar el articulo-->
      <form>
        <div class="row">
          <div class="form-group col">
            <label for="id">ID: </label>
            <input type="text" class="form-control" id="id" :value="o_articulo.id" v-model="o_articulo.id" readonly>
          </div>
          <div class="form-group col">
            <label for="categoria">Producto: </label>
            <input type="text" class="form-control" id="categoria" :value="o_articulo.tipo" v-model="o_articulo.categoria" readonly>
          </div>
          <div class="form-group col">
            <label for="descripcion">Descripción: </label>
            <input type="text" class="form-control" id="descripcionArticulo" :value="o_articulo.descripcion" v-model="o_articulo.descripcion"
              maxlength="32" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad stock: </label>
            <input type="text" class="form-control" id="cantidadLibre" :value="o_articulo.cantidadLibre" v-model="o_articulo.cantidadLibre"
              readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad Solicitada: </label>
            <input type="number" min="0" :max="o_articulo.cantidadLibre" class="form-control" id="cantidadSolicitada"  v-model="l_cantidadSolicitada"
              >
          </div>
        </div>
       
        <div class="row">
          <div class="form-group col">
            <label for="precio">Precio Unitario:</label>
            <input type="number" min="0" step="1" max="9999" class="form-control" id="precio" :value="l_precioUnitario"
              v-model="l_precioUnitario">
          </div>
          <div class="form-group col">
            <label for="precio">Precio Total:</label>
            <input type="number" class="form-control" id="precioTotal" :value="o_articulo.precioTotal"
              v-model="o_articulo.precioTotal" readonly>
          </div>
        </div>
       
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="modificarT(o_articulo)">Aceptar</button>
          <button type="button" class="btn btn-danger" @click="cerrarModalVer">Cancelar</button>
        </div>
      </form>
    </div>

  </modal>



</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
