<div id="ventas" v-cloak>

  <div class="text-center">
    <h1>Ventas</h1>
  </div>
  <form action="">
    <div class="col">

      <div class="row">
        <div class="form-group col">
          <label for="usuario">Encargado del evento</label>
          <input id="usuario" class="form-control" type="text" v-bind:value="modelo.usuario" disabled>
        </div>

        <div class="form-group col">
          <label>Lugar del evento</label>
          <div>
            <input class="form-control" type="text" placeholder="Lugar del evento">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col">
          <label>Cliente</label>
          <div>
            <input class="form-control" type="text" placeholder="Nombre de la empresa" list="listClientes" v-model="txtEmpresa"
              @click="clickVerCliente(modelo.empresas)" />
            <datalist id="listClientes">
              <option v-for="empresa in modelo.empresas" :value="empresa.name">
            </datalist>
            <br>
            <ul v-for="vEmpresa in filteredClientes">
              <li>
                Teléfono: {{vEmpresa.telefono}}
              </li>
              <li>
                Correo: {{vEmpresa.correo}}
              </li>
            </ul>
          </div>

        </div>
        <div class="form-group col">
          <label>Contacto</label>
          <div class="dropdown">
            <input class="form-control" type="text" placeholder="Persona de Contacto" v-model="txtCliente" list="listContactos"
              @click="clickVerContacto(modelo.Clientes)" />
            <datalist id="listContactos">
              <option v-for="cont in modelo.Clientes" :label="cont.name" :value="cont.name">
              </option>
            </datalist>
            <br>
            <ul v-for="vContacto in filteredContactos">
              <li>
                Teléfono: {{vContacto.telefono}}
              </li>
              <li>
                Correo: {{vContacto.correo}}
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label>Tipo de servicio </label>
          <div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio diseño
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de montaje
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                Servicio de alquiler
              </label>
            </div>
            <br>
            <label class="form-check-label">Descripción de los servicios </label>
            <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripción"></textarea>
            <br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fecha del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de montaje</label>
          <input class="form-control" type="date">
        </div>

      </div>

      <div class="row">
        <div class="form-group col">
          <label class="col-form-label">Fin del evento</label>
          <input class="form-control" type="date">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de desmontaje </label>
          <input id="fecha_actual" class="form-control" type="date">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-5">
          <label class="form-label">Buscar Articulo</label>
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>
              <div class="dropdown-menu p-4">
                <div class="form-check mb-2">
                  <input type="checkbox" name="mis cotizaciones" id="elctronicos" class="form-check-input">
                  <label for="electronicos" class="form-check-label">Electrónicos</label>
                </div>
                <div class="form-check mb-2">
                  <input type="checkbox" name="mis cotizaciones" id="inmobiliario" class="form-check-input">
                  <label for="inmobiliario" class="form-check-label">Inmobiliario</label>
                </div>
              </div>
            </div>
            <input class="form-control" type="text" placeholder="Buscar Producto" list="listProductos">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary">
                Buscar
              </button>
            </div>

          </div>
          <datalist id="listProductos">
            <div v-for="empresa in modelo.articulos">
              <option v-bind:value="empresa.name">
            </div>
          </datalist>
        </div>
      </div>


      <div class="row">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Cantidad solicitada</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor</th>
              <th> Opciones </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="art in modelo.articulos">
              <td> {{art.id}} </td>
              <td> {{art.name}} </td>
              <td> {{art.descripcion}} </td>
              <td>{{art.cantidad}}</td>
              <td> <input type="number"> </td>
              <td> <input type="number" :value="art.precio"> </td>
              <td> {{art.precio}} </td>
              <td>
                <button type="button" class="btn btn-success" @click="clickVerArticulo(art)" data-toggle="modal"
                  data-target="#modalVer">Ver</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
  </form>

  <button type="button" class="btn btn-primary" @click="clickVerModalGuardar()">
    Guardar
  </button>
  <!-- Modal -->

  <modal class="example-modal" v-if="VerModalGuardar" @close="clickCerrarModalGuardar()" v-cloak>
    <div class="modal-dialog" role="document">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desea guardar la cotización </h5>
      </div>
    </div>
    <div class="modal-body">
      <h6>La cotización esta disponible por 30 dia después de este tiempo sera borrada del sistema </h6>
      <p>Si se desea hacer cambios sobre esta cotización después de ser guardada se podrán ver el area de ver
        cotizaciones</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>

  </modal>

  <!-- Modal -->
  <div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="ModaldeBusquedaID" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModaldeBusquedaID">{{articulo.name}}</h5>
        </div>
        <div class="modal-body">
          <li v-for="(datos, key) in articulo"> {{key}}: {{datos}} </li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--- Modal--->


</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
