<div id="ventas" v-cloak>

  <div class="text-center">
    <h1>Ventas</h1>
  </div>
  <ajax-form action="insertarCotizacion" :syncing.sync="syncing" :cloud-error.sync="cloudError"
    :form-data="o_cotizacion" :form-errors.sync="formErrors" :form-rules="formRules" @submitted="clickVerModalGuardar">
    <div class="col">

      <div class="row">
        <div class="form-group col">
          <label for="usuario">Encargado del evento</label>
          <input id="usuario" class="form-control" type="text" v-bind:value="me.fullName" disabled
            :v-model="o_cotizacion.encargado">
          <!--v-bind:value="me.fullName"-->
        </div>

        <div class="form-group col">
          <label>Lugar del evento</label>
          <div>
            <input class="form-control" type="text" placeholder="Lugar del evento" v-model="o_cotizacion.lugarEvento">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="form-group col">
          <label>Cliente</label>
          <div>
            <input type="text" name="l_buscarCliente" id="l_clientes" list="listaClientes" placeholder="Buscar Cliente"
              class="form-control" v-model="l_buscarCliente">
            <!--Input de Buscador-->
            <datalist id="listaClientes">
              <div v-for="l_cliente in modelo.clientes">
                <option v-bind:value="l_cliente.nombre">
                  <!--Toma el valor del buscador-->
              </div>
            </datalist>
            <br>

            <div v-if="filteredClientes.length === 0 && l_buscarCliente.length >= 3">
              <h5><span class="badge badge-pill badge-warning">
                  No se encuentra ningún cliente con ese nombre</h5>
              <input class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregar()" />
            </div>

            <br>
            <ul v-if="filteredClientes.length !== 0" v-for="vEmpresa in filteredClientes">
              <div v-if="filteredClientes.length === 1 && l_buscarCliente.length > 3 ">
                <li>
                  <p>Teléfono: {{vEmpresa.telefono}} </p> 
                </li>
                <li>
                  <p>Correo: {{vEmpresa.correo}} </p>
                </li>
              </div>
            </ul>
          </div>

        </div>
        <div class="form-group col">
          <label>Contacto</label>
          <div class="dropdown">
            <input class="form-control" name="l_buscarContacto" type="text" placeholder="Persona de Contacto"
              v-model="l_buscarContacto" list="listContactos" />
            <datalist id="listContactos">
              <div v-for="l_contacto in modelo.contactos">
                <option v-bind:value="l_contacto.nombre">
              </div>
              </option>
            </datalist>
            <br>
            <div v-if="filteredContactos.length === 0 && l_buscarContacto.length >= 3 && filteredClientes[0] === undefined">
              <h5><span class="badge badge-pill badge-warning">
                  No añadió ningún cliente</h5>
              
                </div>
                <div v-if="filteredClientes[0] !== undefined && filteredContactos.length === 0 && l_buscarContacto.length >= 3">
                    <h5><span class="badge badge-pill badge-warning">
                        No se encuentra ningún contacto con ese nombre</h5>
                  <input class="btn btn-primary" type="button" value="Agregar" @click="clickVerModalAgregarC()" />

                </div>
            <br>
            <ul v-if="filteredContactos.length !== 0" v-for="vContacto in filteredContactos">
              <div v-if="filteredContactos.length === 1 && l_buscarContacto.length > 3">
                <li>
                  <p> Teléfono: {{vContacto.telefono}}</p> 
                </li>
                <li>
                  <p> Correo: {{vContacto.correo}}</p> 
                </li>
              </div>
            </ul>
          </div>
        </div>
      
      </div>

      <div class="row">
        <div class="form-group col">
          <label>Tipo de servicio </label>
          <div>

            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" v-model="l_sDiseno">
                Servicio diseño
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" v-model="l_sMontaje">
                Servicio de producción
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" v-model="l_sAlquiler">
                Servicio de alquiler
              </label>
            </div>
            <br>
            <div class="row" v-if="l_sMontaje  || l_sAlquiler || l_sDiseno">
              <label class="form-check-label">Descripción de los servicios </label>
              <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Descripción"></textarea>
            </div>
            <br>
          </div>
        </div>
      </div>

      <div class="row" v-if="l_sMontaje  || l_sAlquiler">
        <div class="form-group col">
          <label class="col-form-label">Fecha del evento </label>
          <input class="form-control" type="date" id="date"
            :min="l_date.getFullYear() + '-' + '0'+ (l_date.getMonth()+1) + '-' + l_date.getDate()">

        </div>

        <div class="form-group col">
          <label class="col-form-label">Fin del evento</label>
          <input class="form-control" type="date" id="date"
            :min="l_date.getFullYear() + '-' + '0'+ (l_date.getMonth()+1) + '-' + l_date.getDate()">
        </div>


      </div>

      <div class="row" v-if="l_sMontaje">
        <div class="form-group col">
          <label class="col-form-label">Fecha de montaje</label>
          <input class="form-control" type="date" id="date"
            :min="l_date.getFullYear() + '-' + '0'+ (l_date.getMonth()+1) + '-' + l_date.getDate()">
        </div>

        <div class="form-group col">
          <label class="col-form-label">Fecha de desmontaje </label>
          <input id="date" class="form-control" required type="date"
            :min="l_date.getFullYear() + '-' + '0'+ (l_date.getMonth()+1) + '-' + l_date.getDate()">
        </div>
      </div>

      <div class="row" v-if="l_sAlquiler || l_sMontaje">
        <div class="form-group col-5">
          <label class="form-label">Buscar Artículo</label>
          <div class="input-group">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Filtros</button>
              <div class="dropdown-menu p-4">
                <form>
                  <!--Form del Filtro-->
                  <div class="form-group">
                    <label for="busquedaPorID">ID: </label>
                    <input type="text" class="form-control" id="idArt" placeholder="ID del Artículo:" maxlength="4"
                      v-model="l_filtro.id">
                  </div>
                  <div class="form-group">
                    <label for="busquedaPorNombre">Categoría: </label>
                    <input type="text" name="buscarPorNombre" id="busquedaPorNombre" placeholder="Categoría"
                      maxlength="20" list="listaCategorias" class="form-control" v-model="l_filtro.categoria">
                    <datalist id="listaCategorias">
                      <!--Toma el valor del buscador-->
                      <div v-for="l_categoria in modelo.a_categorias">
                        <option v-bind:value="l_categoria">
                      </div>
                    </datalist>
                  </div>
                </form>
              </div>
            </div>
            <input type="text" name="buscarArticulo" id="articulo" placeholder="Buscar Artículo" list="listaArticulos"
              class="form-control" v-model="l_buscarArticulo">
            <!--Input de Buscador-->
            <datalist id="listaArticulos">
              <div v-for="l_articulo in modelo.articulos">
                <option v-bind:value="l_articulo.descripcion">
                  <!--Toma el valor del buscador-->
              </div>
            </datalist>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-plus"></i></span>
            </div>

          </div>
          <datalist id="listProductos">
            <div v-for="empresa in modelo.articulos">
              <option v-bind:value="empresa.name">
            </div>
          </datalist>
        </div>
      </div>
      <!--Tabla de producto jalados de la base de datos-->
      <div class="row" v-if="l_sAlquiler || l_sMontaje">
        <table class="table" v-if=" filtroArticulos.length > 0 ">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Valor Unitario</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody v-for="t_Categoria in filtroCategorias">
            <tr v-if="t_Categoria == filtroArticulos[0].categoria">
              <td v-text="filtroArticulos[0].id"></td>
              <td v-text="filtroArticulos[0].categoria"></td>
              <td v-text="filtroArticulos[0].descripcion"> </td>
              <td v-text="filtroArticulos[0].cantidadLibre"></td>
              <td> {{filtroArticulos[0].precio |formatoMoneda}}</td>
              <td><input type="button" value="Agregar" class="btn btn-primary"
                  @click=" agregarArticuloTemp(filtroArticulos[0])">


              </td>
            </tr>
            <tr v-if="filtroArticulos.length > 1&&t_Categoria == filtroArticulos[1].categoria">
              <td v-text="filtroArticulos[1].id"></td>
              <td v-text="filtroArticulos[1].categoria"></td>
              <td v-text="filtroArticulos[1].descripcion"> </td>
              <td v-text="filtroArticulos[1].cantidadLibre"></td>
              <td> {{filtroArticulos[1].precio |formatoMoneda}}</td>
              <td><input type="button" value="Agregar" class="btn btn-primary"
                  @click=" agregarArticuloTemp(filtroArticulos[1]); ">
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <br>
      <!--Tabla de Productos dentro de los pedidos-->
      <div class="row" v-if="l_sAlquiler || l_sMontaje">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Producto</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad en stock</th>
              <th scope="col">Cantidad solicitada</th>
              <th scope="col">Valor Unitario</th>
              <th scope="col">Valor</th>
              <th> Opciones </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="t_articulo in filtroDeTabla">
              <td v-text="t_articulo.id"></td>
              <td v-text="t_articulo.categoria"></td>
              <td v-text="t_articulo.descripcion"> </td>
              <td v-text="t_articulo.cantidadLibre"></td>
              <td v-text="t_articulo.cantidadSolicitada" readonly> </td>
              <td readonly> {{t_articulo.precio | formatoMoneda}} </td>
              <td>{{t_articulo.precioTotal | formatoMoneda}}</td>
              <td>

                <button type="button" class="btn btn-info" @click="verArticulo(t_articulo)">Actualizar
                  Solicitud</button>

                <button type="button" class="btn btn-danger" @click="quitarArticuloTabla(t_articulo)">Eliminar</button>
              </td>
            </tr>

            <tr style=" border: black 2px solid;">
              <td>Total</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{l_sumatoria |formatoMoneda}}</td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>
      <button type="submit" :syncing="syncing" class="btn btn-primary">
        Guardar
      </button>
  </ajax-form>



  <!--- Modal Clientes Agregar--->
  <modal v-if="l_verModalAgregar" id="modalAgregar">

      <div class="modal-header">
        <button type="button" class="close" @click="clickCerrarModalAgregar()">&times</button>
        <h5 class="modal-title" id="exampleModalLabel">Agregando un cliente/contacto</h5>
      </div>
      <ajax-form action="insertarCliente" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="o_cliente"
        :form-errors.sync="formErrors" :form-rules="formRules" @submitted="guardarCliente">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col">
              <label for="nombre">Nombre: </label>
              <input type="text" class="form-control" id="nomCliNuevo" placeholder="Digite el nombre"
                v-model="o_cliente.nombre" :class="[(formErrors.nombre || o_cliente.nombre !== undefined) && !o_cliente.nombre ?
               'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorNombre"></div>
            </div>
            <div class="form-group col">
              <label for="telefono">Teléfono: </label>
              <input type="number" max="99999999" class="form-control" id="telCliNuevo"
                placeholder="Digite el numero telefónico" v-model="o_cliente.telefono" :class="[(formErrors.telefono || o_cliente.telefono !== undefined) && !o_cliente.telefono ?
                'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorTelefono"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="email">Email: </label>
              <input type="email" name="email"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                class="form-control" id="emaCliNuevo" placeholder="Digite el email" v-model="o_cliente.correo" :class="[(formErrors.correo || o_cliente.correo !== undefined) && !o_cliente.correo ?
                'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorCorreo"></div>
              <div v-if="o_cliente.correo !== undefined">

                <div style="color:red" v-if="!(o_cliente.correo.indexOf('@') > -1) && o_cliente.correo.length >= 1"><p>Introduzca un correo válido</p></div>
              </div>
            </div>
            <div class="form-group col">
              <label for="cedula">Cédula(Jurídica o Física)</label>
              <input type="number" name="cedula" max="9999999999" placeholder="Digite la cédula" class="form-control"
                id="cedNuevo" v-model="o_cliente.cedula" :class="[(formErrors.cedula || o_cliente.cedula !== undefined) && !o_cliente.cedula ?
                'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorCedula"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Guardar</ajax-button>
          <button type="button" class="btn btn-danger" @click="clickCerrarModalGuardar">Cancelar</button>
        </div>
      </ajax-form>
  
  </modal>
  
  <!-- Modal Contactos Agregar-->
  <modal v-if="l_verModalAgregarC" id="modalAgregar">

      <div class="modal-header">
        <button type="button" class="close" @click="clickCerrarModalAgregarC">&times</button>
        <h5 class="modal-title" id="exampleModalLabel">Agregando un Contacto</h5>
      </div>
      <ajax-form action="insertarContacto" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="o_contacto"
        :form-errors.sync="formErrors" :form-rules="formRules" @submitted="guardarContacto">
        <div class="modal-body">
          <div class="row">
            <div class="form-group col">
              <label for="nombre">Nombre: </label>
              <input type="text" class="form-control" id="nomConNuevo" placeholder="Digite el nombre"
                v-model="o_contacto.nombre" :class="[(formErrors.nombre || o_contacto.nombre !== undefined) && !o_contacto.nombre ?
                 'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorNombre"></div>
            </div>
            <div class="form-group col">
              <label for="telefono">Teléfono: </label>
              <input type="number" max="99999999" class="form-control" id="telConNuevo"
                placeholder="Digite el numero telefónico" v-model="o_contacto.telefono" :class="[(formErrors.telefono || o_contacto.telefono !== undefined) && !o_contacto.telefono ?
                  'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorTelefono"></div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col">
              <label for="email">Email: </label>
              <input type="email" name="email"
                pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                class="form-control" id="emaCliNuevo" placeholder="Digite el email" v-model="o_contacto.correo" :class="[(formErrors.correo || o_contacto.correo !== undefined) && !o_contacto.correo ?
                  'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorCorreo"></div>
              <div v-if="o_contacto.correo !== undefined">

                <div style="color:red" v-if="!(o_contacto.correo.indexOf('@') > -1) && o_contacto.correo.length >= 1"><p>Introduzca un correo válido</p></div>
              </div>
            </div>
            <div class="form-group col">
              <label for="cedula">Cédula(Jurídica o Física)</label>
              <input type="number" name="cedula" max="9999999999" placeholder="Digite la cédula" class="form-control"
                id="cedNuevo" v-model="o_contacto.cedula" :class="[(formErrors.cedula || o_contacto.cedula !== undefined) && !o_contacto.cedula ?
                  'is-invalid' : '']">
              <div class="invalid-feedback" v-text="modelo.l_errorCedula"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Guardar</ajax-button>
          <button type="button" class="btn btn-danger" @click="clickCerrarModalAgregarC">Cancelar</button>
        </div>
      </ajax-form>
      
    
    </modal>

  <!-- Modal Guardar-->


  <modal v-if="l_verModalGuardar" id="modalAgregar">
    <div class="modal-header">
      <button type="button" class="close" @click="clickCerrarModalGuardar">&times</button>
      <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar la cotización? </h5>
    </div>

    <div class="modal-body">
      <h6>La cotización estará disponible por 30 días; después de este tiempo será borrada del sistema </h6>
      <p>Si se desea hacer cambios sobre esta cotización después de ser guardada, se podrán ver el área "Ver
        Cotizaciones"</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Aceptar</button>
      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
    </div>

  </modal>

  <!-- Modal Ver  -->
  <!-- Aqui inicia el modal ver-->
  <modal v-if="l_verModalVer" id="modalVer">
    <!-- Contenido del modal-->
    <div class="modal-header">
      <button type="button" class="close" @click="cerrarModalVer">&times</button>
      <h2 class="modal-title">Ver Artículo del Inventario</h2>
    </div>
    <div class="modal-body">
      <!--Form que permite actualizar el articulo-->
      <form>
        <div class="row">
          <div class="form-group col">
            <label for="id">ID: </label>
            <input type="text" class="form-control" id="id" :value="o_articulo.id" v-model="o_articulo.id" readonly>
          </div>
          <div class="form-group col">
            <label for="categoria">Producto: </label>
            <input type="text" class="form-control" id="categoria" :value="o_articulo.tipo"
              v-model="o_articulo.categoria" readonly>
          </div>
          <div class="form-group col">
            <label for="descripcion">Descripción: </label>
            <input type="text" class="form-control" id="descripcionArticulo" :value="o_articulo.descripcion"
              v-model="o_articulo.descripcion" maxlength="32" readonly>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad stock: </label>
            <input type="text" class="form-control" id="cantidadLibre" :value="o_articulo.cantidadLibre"
              v-model="o_articulo.cantidadLibre" readonly>
          </div>
          <div class="form-group col">
            <label for="cantidadLibre">Cantidad Solicitada: </label>
            <input type="number" min="0" :max="_.find(this.modelo.articulos, {id: this.o_articulo.id}).cantidadLibre"
              class="form-control" id="cantidadSolicitada" v-model="l_cantidadSolicitada"
              :class="[l_cantidadSolicitada !== undefined && !l_cantidadSolicitada &&l_error ? 'is-invalid' : '']">
            <div class="invalid-feedback">La cantidad solicitada deber ser menor o igual a {{o_articulo.cantidadLibre}}
              y mayor a 0</div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col">

            <label for="precio">Precio Unitario:</label>
            <input type="number" min="0" step="1" max="9999" class="form-control" id="precio" :value="l_precioUnitario"
              v-model="l_precioUnitario">
          </div>
          <div class="form-group col">
            <label for="precio">Precio Total:</label>
            <input type="number" class="form-control" id="precioTotal" :value="o_articulo.precioTotal"
              v-model="o_articulo.precioTotal" readonly>
          </div>
        </div>



        <div class="modal-footer">

          <button type="button" class="btn btn-primary" @click="modificarTabla(o_articulo)">Aceptar</button>

          <button type="button" class="btn btn-danger" @click="cerrarModalVer">Cancelar</button>
        </div>
      </form>
    </div>

  </modal>
  <!--Aqui termina el modal de Actualizar-->


</div>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
